body {
    max-width: 100%;
    text-align: left;
    background: rgb(22, 0, 22);
    color: rgb(32, 247, 42);
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    opacity: 0; /* Initially hide the paragraph */
    transition: opacity 1s; /* Add a smooth transition effect */
}

h2.section {
    display: inline-flex;
    margin-left: 10%;
    margin-right: auto;
}

#nameTitle {
    position: fixed;
    width: 100%;
    background-color: rgb(54, 3, 54);
    margin: auto;
    padding-top: 13px;
    padding-bottom: 13px;
    left: 0;
    top: 0;
    z-index: 1;
    text-align: center;
}

#nameTitle span {
    color: rgb(20, 255, 40);
    max-width: 100%;
    text-align: center;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 0.25em rgb(222, 111, 0);
    border-style: solid;
    border-radius: 1cm;


}

.linecolor {
    color: red;
}

#contact {
    background-color: rgb(111, 2, 22);
    margin: auto;
}

nav {
    background-color: rgb(82, 0, 15);
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    top: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
}

nav ul {
    position: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}

nav ul li {
    position: relative;
    width: 24%;
    display: inline-flex;
    justify-content: center;
}

#linkedin {
    color: rgb(9, 223, 27);
    text-decoration: none;
}

#instagram {
    color: rgb(9, 223, 27);
    text-decoration: none;
}

#email {
    color: rgb(9, 223, 27);
    text-decoration: none;
}

#resume {
    color: rgb(9, 223, 27);
    text-decoration: none;
}

#linkedin-image {
    max-height: 90px;
}

#email-image {
    max-height: 90px;
}

#instagram-image {
    max-height: 90px;
}

#rez-image {
    max-height: 90px;
}

#profile {
    display: flex;
    justify-content: center;
}

#PP {
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
    border-radius: 16cm;
    border: solid;
    max-height: 400px;
}

#flexer {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    max-height: 400px;
}

#flexer img {
    position: relative;
    border-radius: 20cm;
    border: solid;
    max-height: 400px;

    clip: rect(0px, 60px, 200px, 0px);

}

div.bio {
    display: flex;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    word-wrap: break-word;
    font-size: large;
    font-weight: bold;
}

div.bio ul ul {
    font-size: small;
}

#bugatti {
    max-height: 20px;
    overflow: hidden;
}

#interestList {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}

.icon {
    text-align: center;
}

#prTitle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-decoration: underline;
}

#prTitle span {
    flex: 1;
    text-align: center;
}

#prs {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}
#undergrad{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}
.course-block{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 500px;
    border: solid;
    border-color: red;
    border-radius: 1cm;
}

.new-line {
    flex-basis: 100%; /* Create an empty div to occupy the full width of the container and force a new line */
  }

/* Styles for mobile devices */
@media screen and (min-width: 1377px) {
    /* Your CSS rules for mobile */

    p {
        font-size: medium;
    }

    nav {
        font-size: medium;
    }

    #PP {
        max-width: 300px;

    }

    body.blurred *:not(#PP):not(#profile) {
        transition: 0.3s;
        filter: blur(5px);
        /* Adjust the blur value as desired */
    }

    #PP:hover {
        position: relative;
        transform: scale(1.2);
        /* Increase the scale value for a stronger pop effect */
        z-index: 2;
        transition: transform 0.3s;
        box-shadow: 22px 22px 20px rgba(0, 0, 0, 0.3);
    }

    .icon:hover {
        position: relative;
        transform: scale(1.25);
        /* Increase the scale value for a stronger pop effect */
        z-index: 2;
        transition: transform 0.35s;
    }

    .prVid:hover {
        position: relative;
        transform: scale(1.1);
        /* Increase the scale value for a stronger pop effect */
        z-index: 2;
        transition: transform 0.3s;
    }

    #flexer img:hover {
        position: relative;
        transform: scale(1.1);
        /* Increase the scale value for a stronger pop effect */
        z-index: 2;
        transition: transform 0.3s;
        box-shadow: 22px 22px 20px rgba(0, 0, 0, 0.3);
    }

}

/* Styles for tablets */
@media screen and (min-width: 1099px) and (max-width: 1376px) {
    /* Your CSS rules for tablets */

    #desc li {
        position: relative;
        width: 24%;
        display: inline-flex;
        justify-content: center;
    }

    #linkedin-image {
        max-height: 60px;
    }

    #email-image {
        max-height: 60px;
    }

    #instagram-image {
        max-height: 60px;
    }

    #rez-image {
        max-height: 60px;
    }

    p {
        font-size: small;
    }

    nav {
        font-size: small;
    }

    #PP {
        max-height: 200px;
    }

    #flexer img {
        max-height: 200px;
    }

    div.bio {
        font-size: small;
        font-weight: bold;
    }

    div.bio ul ul {
        font-size: x-small;
    }

    body.blurred *:not(#PP) {
        transition: 0.3s;
        filter: blur(5px);
        /* Adjust the blur value as desired */
    }

    body.blurred *:not(#PP):not(#profile) {
        transition: 0.3s;
        filter: blur(5px);
        /* Adjust the blur value as desired */
    }

    #PP:hover {
        position: relative;
        transform: scale(1.2);
        /* Increase the scale value for a stronger pop effect */
        z-index: 2;
        transition: transform 0.3s;
        box-shadow: 22px 22px 20px rgba(0, 0, 0, 0.3);
    }

    .icon:hover {
        position: relative;
        transform: scale(1.25);
        /* Increase the scale value for a stronger pop effect */
        z-index: 2;
        transition: transform 0.35s;
    }

    .prVid:hover {
        position: relative;
        transform: scale(1.1);
        /* Increase the scale value for a stronger pop effect */
        z-index: 2;
        transition: transform 0.3s;
    }
    .course-block{
        height: 300px;
        width: 360px;

    }
    #flexer img:hover {
        position: relative;
        transform: scale(1.1);
        /* Increase the scale value for a stronger pop effect */
        z-index: 2;
        transition: transform 0.3s;
        box-shadow: 22px 22px 20px rgba(0, 0, 0, 0.3);
    }

}

/* Styles for tablets */
@media screen and (min-width: 480px) and (max-width: 1099px) {

    /* Your CSS rules for tablets */
    #desc li {
        position: relative;
        width: 24%;
        display: inline-flex;
        justify-content: center;
    }

    #linkedin-image {
        max-height: 40px;
    }

    #email-image {
        max-height: 40px;
    }

    #instagram-image {
        max-height: 40px;
    }

    #rez-image {
        max-height: 40px;
    }

    body {
        font-size: small;
        overflow-x: hidden;
    }

    p {
        font-size: x-small;
    }

    nav {
        font-size: xx-small;
        top: 50px;
    }

    #PP {
        max-height: 150px;
    }

    #flexer img {
        max-height: 150px;
    }

    div.bio {
        font-size: x-small;
        font-weight: bold;
    }

    div.bio ul ul {
        font-size: xx-small;
    }

    .prVid {
        width: 320px;
        height: 180px;
    }
    .course-block{
        height: 250px;
        width: 305px;
    }
    body.blurred *:not(#PP):not(#profile) {
        transition: 0.3s;
        filter: blur(5px);
        /* Adjust the blur value as desired */
    }

    #PP:hover {
        position: relative;
        transform: scale(1.2);
        /* Increase the scale value for a stronger pop effect */
        z-index: 2;
        transition: transform 0.3s;
        box-shadow: 22px 22px 20px rgba(0, 0, 0, 0.3);
    }

    .icon:hover {
        position: relative;
        transform: scale(1.25);
        /* Increase the scale value for a stronger pop effect */
        z-index: 2;
        transition: transform 0.35s;
    }

    .prVid:hover {
        position: relative;
        transform: scale(1.1);
        /* Increase the scale value for a stronger pop effect */
        z-index: 2;
        transition: transform 0.3s;
    }

    #flexer img:hover {
        position: relative;
        transform: scale(1.1);
        /* Increase the scale value for a stronger pop effect */
        z-index: 2;
        transition: transform 0.3s;
        box-shadow: 22px 22px 20px rgba(0, 0, 0, 0.3);
    }
}

@media screen and (min-width: 0px) and (max-width: 479px) {

    /* Your CSS rules for tablets */
    body {
        font-size: small;
        overflow-x: hidden;
    }
    p {
        font-size: x-small;
    }
    h2.section {
        margin-left: 0%;
        margin-right: auto;
    }

    nav {
        font-size: xx-small;
        top: 50px;
    }

    #desc li {
        width: 20.5%;
    }

    nav ul li {
        width: 20.5%;
    }

    #linkedin-image {
        max-height: 30px;
    }

    #email-image {
        max-height: 30px;
    }

    #instagram-image {
        max-height: 30px;
    }

    #rez-image {
        max-height: 30px;
    }

    #PP {
        max-height: 150px;
    }

    #flexer img {
        max-height: 150px;
    }

    div.bio {
        font-size: x-small;
        font-weight: bold;
    }

    div.bio ul ul {
        font-size: xx-small;
    }

    .prVid {
        width: 160px;
        height: 90px;
    }
    .course-block{
        height: 250px;
        width: 305px;
    }
}