body{
     text-align: left;
     background-color: white;
     background-image: url(../conf.png);
     background-size: cover;
     color: rgb(216, 24, 158);
     font-size: x-large;
     font-weight: bold;
 }
ul{
     background-color: rgb(0, 0, 0);
     margin-left: 8%;
     margin-right: 10%;
 
 }
h2{
     background-color: rgb(0, 0, 0);
     margin-right: 80%;
 }
nav{
     background-color: rgb(0, 0, 0);
     margin-right: 80%;
 }
 p.jess{
    display: flex;
    justify-content: left;
 }
 div.jess{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    text-indent: 3ex;
 }
 a{
     color: lightblue;
 }
 .jess{
     background-color: rgb(0, 0, 0);
 }
 #nameTitle2 span{
     color: rgb(134, 109, 245);
     max-width: 100%;
     text-align: center;
     position: relative;
     padding-left: 20px;
     padding-right: 20px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     border: 0.25em rgb(255, 175, 0);
     border-style: solid;
     border-radius: 1cm;
 }
 #nameTitle2{
     position: fixed;
     max-width: 100%;
     width: 100%;
     background-color: rgb(219, 13, 140);
     margin: auto;
     padding-top: 13px;
     padding-bottom: 13px;
     left: 0;
     top: 0;
     z-index: 1;
     text-align: center;
 }
 
/* Styles for mobile devices */
@media screen and (min-width: 1124px) and (max-width: 1932) {
    /* Your CSS rules for mobile */

    pre.art{
        font-size: large;
    }
  }
  
  /* Styles for tablets */
  @media screen and (min-width: 777px) and (max-width: 1123px) {
    /* Your CSS rules for tablets */
    pre.art{
        font-size: medium;

  }
}
  /* Styles for tablets */
  @media screen and (min-width: 480px) and (max-width: 777px) {
    /* Your CSS rules for tablets */
    pre.art{
        font-size: medium;
    }
}
  @media screen and (min-width: 1px) and (max-width: 616px) {
    /* Your CSS rules for tablets */
    body{
        font-size: small;
    }
    pre.art{
        font-size: x-small;
    }
    #nameTitle2 span{
        font-size: large;
    }
}
